// Variable overrides
$spacer: 0.5rem;
$sidebar-bg: #f4f5f7;
$sidebar-nav-title-color: #20a8d8;
$sidebar-nav-link-icon-color: #707070;
$sidebar-nav-link-color: #707070 !important;
$sidebar-nav-link-active-color: white !important;
$sidebar-nav-link-active-icon-color: white !important;
$sidebar-nav-link-active-bg: #20a8d8 !important;
$aside-menu-width: 320px;
