// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

.breadcrumb {
  margin-bottom: 0.5rem;
}

.app-header {
  background-color: #101b58;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover,
.nav-link:focus {
  color: #f86c6b !important;
}
