// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

@import "~antd/dist/antd.css";

.breadcrumb {
  margin-bottom: 0.5rem;
}

.app-header {
  background-color: #101b58;
}

.nav-link {
  font-weight: 500;
}

.nav-link i {
  font-weight: 900;
  font-size: 16px !important;
}

.tui-image-editor-container .tui-image-editor-controls {
  background-color: #727274 !important;
}

.sidebar .nav-title {
  height: 44px;
}

.dd-items .nav-link {
  font-size: 12px;
  padding-left: 30px;
}

.form-group {
  margin-bottom: 0.1rem !important;
}

.extract-data {
  height: 578px !important;
}
